<header id="top">
  <div class="header">
    <h1 class="logo"><span>Auto</span>XV</h1>
    <!--ex6-->
    <nav>
      <ul class="menu">
        <li>
          <a href="#home">Home</a>
          <ul class="submenu">
            <li><a href="#despre">Despre noi</a></li>
            <li><a href="#ultimele">Ultimele anunturi adaugate</a></li>
            <li>
              <a href="#populare">Cele mai populare marci si modele</a>
            </li>
          </ul>
        </li>
        <li><a href="#cautare">Cautare avansata</a></li>
        <li><a href="#publica">Publicare anunt</a></li>
        <li>
          <a href="#ghid-forum">Ghid & Forum</a>
          <ul class="submenu">
            <li><a href="#ghid">Ghid</a></li>
            <li>
              <a href="#forum">Forum</a>
            </li>
          </ul>
        </li>
        <li><a href="#contact-suport">Contact & Suport</a></li>
      </ul>
    </nav>
  </div>
</header>
